*~
*7z
*tar
*tar.gz
*pem
*crt
*csr
*p12
*bkp
*tmp
**/POC/**
**/temp/**
**/confidential/**
*html
*pdf
*#
**/root-ca/**
**/Simple-TLS/**
**/Hybrid-TLS/**
docs-and-tools/dev-ops/.DS_Store
docs-and-tools/.DS_Store
